:root {
  --color1: #202236;
  --color2: #f2f3f5;
  --color3: #383c5e;
  --color4: #202236;
  --color5: #3143b5;
  --color6: #3143b5;
}

.hana {
  --color1: #00928f;
  --color2: #f2f5f3;
  --color3: #13c9be;
  --color4: #13c9be;
  --color5: #13c9be;
  --color6: #00928f;

  .ico-heart {
    &.on {
      background-image: url(../images/icon/heart-on_hana.png);
    }
  }
  
  .ico-check {
    &.on {
      background-image: url(../images/icon/check-on_hana.png);
    }
  }
}

// font
@mixin preRegular() {
  font-family: 'Pretendard-Regular';
}

@mixin preMedium() {
  font-family: 'Pretendard-Medium';
}

@mixin preSemiBold() {
  font-family: 'Pretendard-SemiBold';
}

@mixin preBold() {
  font-family: 'Pretendard-Bold';
}

@mixin preExtraBold() {
  font-family: 'Pretendard-ExtraBold';
}

// common
@mixin image-set() {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

@mixin pos-center() {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin text-hide() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin ico-arrow-type1-top() {
  transform: rotate(0deg);
}

@mixin ico-arrow-type1-right() {
  transform: rotate(90deg);
}

@mixin ico-arrow-type1-bottom() {
  transform: rotate(180deg);
}

@mixin ico-arrow-type1-left() {
  transform: rotate(270deg);
}

@mixin ico-arrow-type2-top() {
  transform: rotate(-90deg);
}

@mixin ico-arrow-type2-right() {
  transform: rotate(0deg);
}

@mixin ico-arrow-type2-bottom() {
  transform: rotate(90deg);
}

@mixin ico-arrow-type2-left() {
  transform: rotate(180deg);
}

// ---------- include component ---------- //
@mixin tool-tip() {
  @include preRegular();
  position: absolute;
  background: var(--color1);
  padding: 5px 7px;
  color: #fff;
  border-radius: 7px;
  font-size: 12px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 4.6px 7.7px 4.6px;
    border-color: transparent transparent var(--color1) transparent;
  }
}

// ---------- straight component ---------- //
// icon basic
.ico-arrow {
  @include text-hide();
  @include image-set();
  display: block;

  &.type1 {
    width: 20px;
    height: 20px;
    background-image: url(../images/icon/arrow-type1.png);

    &.top {
      transform: rotate(0deg);
    }
  
    &.right {
      transform: rotate(90deg);
    }
  
    &.bottom {
      transform: rotate(180deg);
    }
  
    &.left {
      transform: rotate(270deg);
    }
  }

  &.type2 {
    width: 14px;
    height: 14px;
    background-image: url(../images/icon/arrow-type2.png);

    &.right {
      transform: rotate(0deg);
    }
  
    &.bottom {
      transform: rotate(90deg);
    }
  }
}

.ico-close {
  @include text-hide();
  @include image-set();
  display: block;

  &.type1 {
    width: 20px;
    height: 20px;
    background-image: url(../images/icon/close-type1.png);
  }
  
  &.type2 {
    width: 14px;
    height: 14px;
    background-image: url(../images/icon/close-type2.png);
  }
}

.ico-home {
  @include text-hide();
  @include image-set();
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/icon/home.png);
}

.ico-heart {
  @include text-hide();
  @include image-set();
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/icon/heart.png);

  &.on {
    background-image: url(../images/icon/heart-on.png);
  }
}

.ico-check {
  @include text-hide();
  @include image-set();
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/icon/check.png);

  &.on {
    background-image: url(../images/icon/check-on.png);
  }
}

.ico-question {
  @include text-hide();
  @include image-set();
  display: block;
  width: 14px;
  height: 14px;
  background-image: url(../images/icon/question.png);
}

.ico-point {
  @include text-hide();
  @include image-set();
  display: block;
  width: 14px;
  height: 14px;
  background-image: url(../images/icon/point.png);
}

.ico-exclamation {
  @include text-hide();
  @include image-set();
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../images/icon/exclamation.png);
}

.bottom-menu-wrap {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  width: 100%;
  background: #fff;
  height: 52px;
  overflow: hidden;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.08);

  .menu {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
  
    span {
      @include preRegular();
      position: relative;
      font-size: 12px;
      color: #444;
      display: block;
      padding-top: 23px;
  
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  
    .ico-cart {
      &::before {
        background-image: url(../images/icon/cart.png);
      }
    }
  
    .ico-save {
      &::before {
        background-image: url(../images/icon/save.png);
      }
    }
  
    .ico-trend {
      &::before {
        background-image: url(../images/icon/trend.png);
      }
    }
  
    .ico-delivery {
      &::before {
        background-image: url(../images/icon/delivery.png);
      }
    }
  
    .ico-breakDown {
      &::before {
        background-image: url(../images/icon/breakDown.png);
      }
    }
  
    &.on {
      .ico-cart {
        &::before {
          background-image: url(../images/icon/cart-on.png);
        }
      }
    
      .ico-save {
        &::before {
          background-image: url(../images/icon/save-on.png);
        }
      }
    
      .ico-trend {
        &::before {
          background-image: url(../images/icon/trend-on.png);
        }
      }
    
      .ico-delivery {
        &::before {
          background-image: url(../images/icon/delivery-on.png);
        }
      }
    
      .ico-breakDown {
        &::before {
          background-image: url(../images/icon/breakDown-on.png);
        }
      }
    }
  }
}

// etc basic
.list-wrap-box {
  margin-bottom: 25px;

  .first-list {
    padding: 14px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    p {
      @include preBold();
      font-size: 16px;
    }

    .ico-arrow {
      @include ico-arrow-type1-bottom();
      transition: .3s;
    }
  }

  .list-wrap {
    &.type3 {
      overflow: hidden;
      height: 0;
    }
  }
  
  &.on {
    .first-list {
      .ico-arrow {
        @include ico-arrow-type1-top();
      }
    }

    .list-wrap {
      &.type3 {
        transition: .3s;
      }
    }
  }
}

.list-wrap {
  width: 100%;
  &.type1 {
    display: flex;
    gap: 10px;
    padding: 0 20px;

    .list {
      position: relative;
      background: #fff;
      border-radius: 16px;
      width: 50%;
      min-height: 130px;
      max-height: 130px;
      padding-top: 18px;

      .title {
        @include preMedium();
        font-size: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        margin-bottom: 10px;

        .logo {
          @include image-set();
          display: block;
          width: 42px;
          height: 42px;
          border-radius: 14px;
          border: solid 1px #d9d9d9;
        }
      }

      .percent {
        @include preExtraBold();
        display: flex;
        align-items: center;
        gap: 2px;
        justify-content: center;
        font-size: 20px;
      }

      a {
        @include text-hide();
        @include pos-center();
        width: 100%;
        height: 100%;
        z-index: 9;
      }

      button {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 99;
      }

      &.type1 {
        width: 100%;
        padding: 20px 0;
        min-height: 146px;
        max-height: 146px;

        a {
          position: relative;
          top: unset;
          left: unset;
          transform: translate(0, 0);
          overflow: visible;
          text-indent: unset;
          white-space: wrap;
        }

        .title {
          @include preBold();
          font-size: 16px;
          color: #000; 
          align-items: flex-start;
          margin-bottom: 14px;
          line-height: 20px;
          padding: 0 20px;
        }

        .info-wrap {
          display: flex;
          align-items: center;
          gap: 12px;
          margin-bottom: 18px;
          padding: 0 20px;

          .candy {
            position: relative;
            white-space: nowrap;
            @include preBold();
            font-size: 16px;
            color: #000;

            &.type1 {
              width: unset;
              padding-left: 27px;
              padding-right: 18px;
              height: 24px;
              line-height: 24px;

              &::before,
              &::after {
                @include image-set();
                content: "";
                position: absolute;
                display: block;
                top: 50%;
                transform: translateY(-50%);
              }

              &::before {
                width: 24px;
                height: 24px;
                left: 0;
                background-image: url(../images/icon/candy.png);
              }

              &::after {
                width: 14px;
                height: 14px;
                right: 0;
                background-image: url(../images/icon/arrow-type2.png);
              }
            }
          }

          .coupang-search-wrap {
            width: 100%;
            position: relative;

            .logo {
              @include image-set();
              @include text-hide();
              content: "";
              position: absolute;
              display: block;
              top: 50%;
              transform: translateY(-50%);
              left: 8px;
              width: 20px;
              height: 20px;
              background-image: url(../images/icon/coupang.png);
            }

            input[type='text'] {
              border-radius: 17px;
              background: #fafafa;
              border: none;
              padding: 9px 36px 9px 40px;

              &::placeholder {
                @include preMedium();
                font-size: 14px;
                color: #c8c8c8;
              }
            }

            a {
              @include text-hide();
              @include image-set();
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 20px;
              height: 20px;
              background-image: url(../images/icon/search.png);
              background-size: contain;
              right: 10px;
            }
          }
        }

        .link-wrap {
          display: flex;
          justify-content: space-between;

          .link-box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            a {
              @include preSemiBold();
              width: unset;
              height: unset;
              font-size: 15px;
              color: #000;
            }
          }
        }

        > button {
          top: 20px;
          right: 20px;
        }
      }
    }
  }

  &.type2 {
    .list {
      background: #fff;
      padding: 14px 20px;
      min-height: 110px;

      &.red {
        .point-box {
          color: #ec3f3f;
        }
      }

      &.blue {
        .point-box {
          color: var(--color5);
        }
      }

      &.green {
        .text-box {
          .text {
            &.text2 {
              text-decoration: line-through;
            }
          }
        }

        .point-box {
          color: #396d4a;
          .text {
            &.text2 {
              text-decoration: line-through;
            }
          }
        }
      }

      .title {
        @include preBold();
        font-size: 16px;
        margin-bottom: 4px;
      }

      .text-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4px;

        .text {
          @include preRegular();
          font-size: 11px;
          color: #777;

          &.text1 {
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 192px;
            white-space:nowrap;
          }

          &.text2 {
            font-size: 12px;
          }
        }
      }

      .point-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 7px;

        .text {
          @include preBold();

          &.text1 {
            display: flex;
            align-items: center;
            gap: 3px;

            p {
              font-size: 14px;
            }
          }

          &.text2 {
            font-size: 16px;
          }
        }
      }

      .info-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .date {
          @include preMedium();
          display: block;
          font-size: 12px;
        }

        .state {
          @include preSemiBold();
          font-size: 11px;
          color: #576585;
          padding: 4px 8px;
          background: #f6f9fe;
          border-radius: 10px;
        }
      }
    }
  }

  &.type3 {
    .list {
      background: #fff;

      &.on {
        > .top {
          .ico-arrow {
            @include ico-arrow-type1-top();
          }
        }
      }

      > .top {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding: 14px 20px;
        p {
          @include preMedium();
          width: 100%;
          word-break: keep-all;
          position: relative;
          padding-left: 20px;
          max-width: 260px;
          font-size: 15px;
          line-height: 1.2;

          &::before {
            @include preBold();
            content: "Q";
            display: block;
            position: absolute;
            top: -3px;
            left: 0;
            font-size: 18px;
          }
        }

        .ico-arrow {
          @include ico-arrow-type1-bottom();
          transition: .3s;
        }
      }

      > .bottom {
        height: 0;
        overflow: hidden;
        transition: .3s;

        > div {
          overflow: hidden;
          padding: 10px 20px;

          > div {
            border-radius: 16px;
            padding: 18px 20px;
            background: #fafafa;

            p {
              font-size: 13px;
              line-height: 17px;
              color: #777;
            }
          }
        }
      }
    }
  }

  &.type4 {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    .list {
      position: relative;
      display: flex;
      align-items: center;
      gap: 8px;
      background: #fff;
      border-radius: 16px;
      padding: 14px 9px;
      width: calc(50% - 5px);

      &::before {
        @include image-set();
        content: "";
        position: absolute;
        display: block;
        width: 14px;
        height: 14px;
        background-image: url(../images/icon/arrow-type2.png);
        top: 50%;
        transform: translateY(-50%);
        right: 5px;
      }

      .logo {
        @include text-hide();
        @include image-set();
        width: 42px;
        height: 42px;
        border-radius: 14px;
      }
  
      .title {
       @include preSemiBold();
       font-size: 14px;
       color: #000 
      }
  
      .candy-info {
        @include preRegular();
        display: block;
        position: relative;
        font-size: 13px;
        color: #777777;
        padding-left: 16px;
        line-height: 15px;
        margin-top: 3px;
  
        &::before {
          @include image-set();
          content: "";
          display: block;
          position: absolute;
          width: 14px;
          height: 14px;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          background-image: url(../images/icon/candy.png);
        }
      }

      a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  &.type5 {
    .list {
      background: #fff;
      padding: 14px 20px;

      .text-box {
        &.text-box1 {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .text {
            &.text1 {
              position: relative;
              font-size: 11px;
              color: #777;
              
              p {
                @include preRegular();
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 192px;
                white-space:nowrap;
                line-height: 13px;
              }

              span {
                display: block;
                position: absolute;
                top: 17px;
              }
            }

            &.text2 {
              @include preRegular();
              font-size: 12px;
              color: #777;
            }
          }
        }

        &.text-box2 {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;

          .date {
            @include preMedium();
            font-size: 12px;
            color: #000;
          }

          .state {
            @include preBold();
            position: relative;
            font-size: 16px;
            color: #000;
            padding-left: 22px;

            &::before {
              @include image-set();
              content: "";
              position: absolute;
              display: block;
              width: 20px;
              height: 20px;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
              background-image: url(../images/icon/candy.png);
            }
          }
        }
      }
    }

    &.type5-1 {
      .list {
        .text-box {
          &.text-box1 {
            margin-bottom: 23px;
          }
        }
      }
    }

    &.type5-2 {
      .list {
        .text-box {
          &.text-box1 {
            margin-bottom: 10px;
          }

          &.text-box2 {
            .state {
              margin-bottom: 4px;
            }

            .state-box {
              display: flex;
              flex-direction: column;
              align-items: flex-end;

              .state-info {
                @include preSemiBold();
                font-size: 11px;
                padding: 3.5px 15px;
                border-radius: 10px;
                max-width: 50px;

                &.blue {
                  color: #576585;
                  background: #f6f9fe;
                }

                &.red {
                  color: #ec3f3f;
                  background: #fff5f5;
                }
              }
            }
          }
        }
      }
    }
  }

  &.type6 {
    .list {
      position: relative;
      background: #fff;
      min-height: 126px;
      max-height: 126px;
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;

      .img-box {
        @include image-set();
        width: 86px;
        height: 86px;
        border-radius: 24px;
      }

      .text-box {
        .title-box {
          position: relative;
          margin-bottom: 41px;

          .logo-box {
            display: flex;
            align-items: center;
            gap: 3px;

            .logo {
              @include image-set();
              border-radius: 100%;
              width: 18px;
              height: 18px;
            }

            .logo-title {
              @include preMedium();
              font-size: 13px;
              color: #777;
            }
          }

          .title {
            @include preSemiBold();
            position: absolute;
            top: 21px;
            left: 0;
            font-size: 14px;
            color: #000;
            line-height: 1.2;
            width: 182px;
          }
        }

        .info-box {
          .date {
            @include preRegular();
            font-size: 12px;
            color: #777;

            &.date1 {
              margin-bottom: 3px;
            }
          }
        }
      }

      > a {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &.type6-2 {
      .list {
        .img-box {
          opacity: .5;
        }
      }
    }

    &.type6-3 {
      .list {
        .img-box {
          opacity: .5;
        }
  
        .text-box {
          .title-box {
            .title {
              color: #777;
            }
          }
        }
      }
    }
  }
}

.point-info-wrap {
  padding: 0 20px;

  .point-info {
    position: relative;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08);
    border-radius: 16px;

    .text-box {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        @include preMedium();
        font-size: 14px;
      }

      .point {
        @include preBold();
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 16px;
      }
    }

    a {
      @include text-hide();
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.candy-info-wrap {
  padding: 0 20px;

  .candy-info {
    background: #fff;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    padding: 17px 20px;

    .text-box {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .text {
        @include preMedium();
        font-size: 14px;
        color: #000;
      }

      .candy {
        @include preBold();
        position: relative;
        font-size: 18px;
        color: #000;
        line-height: 20px;
        padding-left: 22px;

        &::before {
          @include image-set();
          content: "";
          display: block;
          position: absolute;
          width: 20px;
          height: 20px;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          background-image: url(../images/icon/candy.png);
        }
      }
    }
  }
}

.tool-tip-box {
  position: relative;

  &.on {
    .tool-tip {
      display: block
    }
  }

  .tool-tip {
    @include tool-tip();
    display: none;
    top: 21px;
    left: -47px;
    white-space: nowrap;
    z-index: 9;

    &::before {
      top: -7px;
      left: 49.5px;
    }
  }
}

.gray-box {
  padding: 18px 20px;
  border-radius: 16px;
  background: #fafafa;

  ul {
    li {
      @include preRegular();
      position: relative;
      font-size: 12px;
      padding-left: 11px;
      line-height: 16px;
      color: #777;
      margin-bottom: 7px;

      &:last-of-type {margin-bottom: 0;}

      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 5px;
        width: 3px;
        height: 3px;
        background: #777;
        border-radius: 100%;
      }
    }
  }
}

.candy-link-wrap {
  width: 100%;
  padding: 17px 10px 17px 20px;
  border-radius: 16px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .title {
    @include preMedium();
    font-size: 14px;
    color: #000;
  }

  .candy-count {
    @include preBold();
    position: relative;
    font-size: 18px;
    color: #000;
    padding-left: 22px;
    padding-right: 20px;
    line-height: 20px;

    &::before,
    &::after {
      @include image-set();
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      width: 20px;
      height: 20px;
      background-image: url(../images/icon/candy.png);
      left: 0;
    }

    &::after {
      right: 0;
      width: 14px;
      height: 14px;
      background-image: url(../images/icon/arrow-type2.png);
    }
  }

  > a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.history-link-wrap {
  width: 100%;
  display: flex;
  padding: 0 20px;

  .link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    width: 33.33%;

    .icon {
      @include image-set();
      width: 60px;
      height: 60px;
    }

    p {
      @include preMedium();
      font-size: 14px;
      color: #444;
    }

    > a {
      width: 100%;
      height: 100%;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.point {
      .icon {
        background-image: url(../images/icon/history-point.png);
      }
    }

    &.candy {
      .icon {
        background-image: url(../images/icon/history-candy.png);
      }
    }

    &.gift {
      .icon {
        background-image: url(../images/icon/history-gift.png);
      }
    }

    &.on {
      p {
        @include preBold();
        color: #000;
      }

      &.point {
        .icon {
          background-image: url(../images/icon/history-point-on.png);
        }
      }
  
      &.candy {
        .icon {
          background-image: url(../images/icon/history-candy-on.png);
        }
      }
  
      &.gift {
        .icon {
          background-image: url(../images/icon/history-gift-on.png);
        }
      }
    }
  }
}

.giftcon-info-wrap {
  .goods-info-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    .goods-img {
      @include image-set();
      width: 168px;
      height: 168px;
      border-radius: 24px;
      margin-bottom: 10px;
    }

    .logo-box {
      display: flex;
      align-items: center;
      gap: 3px;
      margin-bottom: 4px;

      .logo {
        @include image-set();
        width: 18px;
        height: 18px;
        border-radius: 100%;
      }

      .logo-title {
        @include preMedium();
        font-size: 13px;
        color: #777;
      }
    }

    .title {
      @include preBold();
      font-size: 18px;
      color: #000;
      margin-bottom: 25px;
    }
  }

  .date-info-box {
    padding: 15px 20px;
    background: #fafafa;
    border-radius: 16px;
    margin-bottom: 10px;

    .date-box {
      @include preRegular();
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      color: #777;
      margin-bottom: 8px;

      &:last-of-type {
        @include preSemiBold();
        color: #292929;
        margin-bottom: 12px;
      }
    }

    > .text {
      @include preMedium();
      font-size: 13px;
      color: #ec3f3f;
      text-align: center;
    }
  }

  .barcode-box {
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    .barcode {
      @include image-set();
      background-size: contain;
      width: 219px;
      height: 111px;
    }
  }

  > .title {
    @include preBold();
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
  }

  .gray-box {
    padding: 20px 15px;

    .title {
      @include preSemiBold();
      font-size: 13px;
      color: #444;
      margin-bottom: 10px;
    }

    ul {
      margin-bottom: 20px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &.type2 {
    .date-info-box {
      margin-bottom: 25px;
    }
  }

  &.type3 {
    .goods-info-box {
      .goods-img {
        opacity: .5;
      }
  
      .logo-box {
        .logo {
          opacity: .5;
        }
  
      }
  
      .title {
        color: #777;
      }
    }

    .barcode-box {
      position: relative;

      .barcode {
        opacity: .5;
      }

      .state {
        @include preBold();
        position: absolute;
        font-size: 14px;
        padding: 7px 14px;
        border-radius: 15px;
        top: 49px;
        left: 50%;
        transform: translateX(-50%);
        
        &.blue {
          background: #f6f9fe;
          color: #576585;
        }

        &.red {
          background: #fff5f5;
          color: #ec3f3f;
        }
      }
    }
  }
}

.roulette-wrap {

  .roulette-box {
    position: relative;
    width: 320px;
    height: 320px;
    margin: 0 auto;
  
    .roulette {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    .bg-roulette {
      @include image-set();
      background-image: url(../images/icon/bg-roulette.png);
    }
  
    .item-roulette {
      .item {
        @include image-set();
        position: absolute;

        &.item1 {
          top: 40px;
          left: 130px;
        }
        &.item2 {
          top: 80px;
          right: 60px;
          transform: rotate(60deg);
        }
        &.item3 {
          bottom: 80px;
          right: 60px;
          transform: rotate(120deg);
        }
        &.item4 {
          bottom: 40px;
          left: 130px;
          transform: rotate(180deg);
        }
        &.item5 {
          bottom: 80px;
          left: 60px;
          transform: rotate(-120deg);
        }
        &.item6 {
          top: 80px;
          left: 60px;
          transform: rotate(-60deg);
        }
      }
    }
  
    .fix-roulette {
      @include image-set();
      background-image: url(../images/icon/fix-roulette.png);
    }

    // 제거
    &:hover {
      .bg-roulette,
      .item-roulette {
        transition-duration: 3.7s;
        transform: translate(-50%, -50%) rotate(3000deg);
      }
    }
  }
}

// input basic
.select-btn {
  user-select: none;
  cursor: pointer;

  &.type1 {
    border: solid 2px #eeeeee;
    background: #fff;
    padding: 14px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    max-height: 50px;

    &.on {
      .ico-arrow {
        @include ico-arrow-type1-top();
      }
    }

    .value {
      @include preMedium();
      font-size: 15px;
      color: #c8c8c8;

      &.on {
        @include preBold();
        color: #000;
      }
    }

    .ico-arrow {
      @include ico-arrow-type1-bottom();
      transition: .3s;
    }
  }

  &.type2 {
    display: flex;
    align-items: center;
    gap: 5px;
    min-height: 16px;

    &.on {
      .ico-arrow {
        @include ico-arrow-type2-top();
      }
    }

    .value {
      @include preMedium();
      font-size: 14px;
      color: #777
    }

    .ico-arrow {
      @include ico-arrow-type2-bottom();
      transition: .3s;
    }
  }
}

#select-wrap {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .7);
  z-index: 99999;

  &.on {
    display: block;
  }

  .select-list {
    display: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    border-radius: 20px 20px 0 0;
    padding: 0 20px;
    min-height: 450px;

    &.on {
      display: block;
    }

    .select-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 70px;
      padding: 0 20px;
      background: #fff;

      p {
        @include preBold();
        font-size: 18px;
      }
    }

    .select-cont {
      padding-top: 70px;
      max-height: 448px;
      overflow: hidden;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      .list {
        padding: 13.5px 0;
        min-height: 46px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        user-select: none;


        .value {
          @include preRegular();
          font-size: 16px;
          color: #666;
        }

        .ico-check {
          display: none;
        }

        &.on {
          .value {
            @include preBold();
            color: #000;
          }
  
          .ico-check {
            display: block;
          }
        }
      }
    }
  }
}

.search-wrap {
  display: block;
  width: 100%;

  
}

input {
  box-sizing: border-box;
  display: block;
}

input[type='file'] {
  display: none;
}

input[type='file'] + label {
  @include preBold();
  cursor: pointer;
  padding: 7px 14px;
  background: var(--color1);
  color: #fff;
  font-size: 14px;
  border-radius: 15px;
  min-height: 30px;
}

.file-box {
  .file-info {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 10px;
  
    .size {
      @include preMedium();
      font-size: 12px;
    }
  }

  .file-list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .list {
      display: flex;
      align-items: center;
      gap: 5px;

      p {
        @include preMedium();
        font-size: 12px;
        max-width: 250px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}


input[type='text'],
textarea {
  @include preBold();
  font-size: 15px;
  width: 100%;
  padding: 14px 20px;
  border-radius: 12px;
  border: solid 2px #eeeeee;

  &:focus {
    outline: none;
  }

  &::placeholder {
    @include preMedium();
    font-size: 15px;
    color: #c8c8c8;
  }

  &.error {
    position: relative;
    border: solid 2px #ec3f3f;
    margin-bottom: 0;
  }

  &.error + span {
    @include preRegular();
    display: block;
    color: #ec3f3f;
    font-size: 11px;
    margin-top: 3px;
    margin-bottom: 10px;
  }
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 150px;
  max-height: 150px;
  box-sizing: border-box;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label {
  @include preBold();
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 6px;

  .ico-check {
    &.on {
      display: none;
    }
  }
}

input[type='checkbox']:checked + label {
  .ico-check {
    display: none;

    &.on {
      display: block;
    }
  }
}

// btn basic
.tab-box-wrap {
  width: 100%;

  .tab-box {
    display: flex;
    gap: 8px;
    padding: 0 20px;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    .tab {
      a {
        @include preRegular();
        display: block;
        padding: 7px 14px;
        border-radius: 15px;
        font-size: 14px;
        background: var(--color2);
        white-space: nowrap;
        color: #697486;
      }

      &.on {
        a {
          @include preBold();
          background: var(--color1);
          color: #fff;
        }
      }
    }
  }
}

.submit-btn {
  @include preRegular();
  display: block;
  width: 100%;
  background: #c8c8c8;
  border-radius: 12px;
  padding: 17.5px 0;
  text-align: center;
  color: #fff;
  font-size: 16px;
  transition: .3s;

  &.on {
    background: var(--color3);
  }
}

// popup basic
#popup-wrap {
  display: none;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  background: rgba(0, 0, 0, .7);
  z-index: 99999;

  &.on {
    display: block;
  }

  .popup {
    display: none;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 25px 25px;
    min-width: 280px;
    border-radius: 18px;

    &.on {
      display: block;
    }

    p {
      @include preMedium();
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      margin-bottom: 20px;
    }

    .btn-box {
      .popup-btn {
        @include preMedium();
        padding: 11px;
        width: 100%;
        background: var(--color4);
        color: #fff;
        font-size: 14px;
        border-radius: 8px;
  
        &.gray {
          color: #000;
          background: #ececec;
        }
      }
    }

    &.type2 {
      padding: 40px 25px 25px;

      p {
        @include preBold();
        margin-bottom: 15px;
      }

      .goods-box {
        margin-bottom: 15px;
        position: relative;
        background: #fff;
        display: flex;
        align-items: center;
        gap: 12px;
        min-height: 106px;

        .img-box {
          @include image-set();
          width: 86px;
          height: 86px;
          border-radius: 24px;
        }
  
        .text-box {
          .title-box {
            position: relative;
            margin-bottom: 54px;
  
            .logo-box {
              display: flex;
              align-items: center;
              gap: 3px;
  
              .logo {
                @include image-set();
                border-radius: 100%;
                width: 18px;
                height: 18px;
              }
  
              .logo-title {
                @include preMedium();
                font-size: 13px;
                color: #777;
                margin-bottom: 0;
                line-height: unset;
              }
            }
  
            .title {
              @include preSemiBold();
              position: absolute;
              top: 21px;
              left: 0;
              font-size: 14px;
              color: #000;
              line-height: 1.2;
              width: 140px;
              text-align: left;
              margin-bottom: 0;
            }
          }
  
          .info-box {
            .date {
              @include preRegular();
              font-size: 12px;
              color: #777;
              margin-bottom: 0;
            }
          }
        }
      }

      a {display: block; text-align: center;}

      .ico-close {
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
  }

  .roulette-popup {
    display: none;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    padding: 30px 20px 20px;
    border-radius: 20px 20px 0 0;

    &.on {
      display: block;
    }

    .logo-box {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 20px;

      .logo {
        @include image-set();
        width: 70px;
        height: 70px;
        background-size: contain;
        border-radius: 20px
      }

      .text {
        @include preMedium();
        font-size: 13px;
        color: #777;

        span {
          @include preSemiBold();
          margin-top: 6px;
          display: block;
          font-size: 14px;
          color: #000;
          line-height: 1.2;
        }
      }
    }

    .candy-info {
      @include preBold();
      font-size: 18px;
      color: #000;
      line-height: 21px;
      margin-bottom: 20px;
      
      span {
        display: inline-block;
        position: relative;
        margin-left: 6px;
        padding-left: 22px;

        &::before {
          @include image-set();
          content: "";
          display: block;
          position: absolute;
          width: 20px;
          height: 20px;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          background-image: url(../images/icon/candy.png);
        }
      }
    }

    .roulette-wrap {
      margin-bottom: 20px;
    }
    
    .btn-box {
      .popup-btn {
        @include preRegular();
        padding: 17.5px;
        width: 100%;
        background: var(--color4);
        color: #fff;
        font-size: 16px;
        border-radius: 12px;
  
        &.gray {
          background: #c8c8c8;
        }
      }
    }

    .ico-close {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
}

.event-popup {
  display: none;
  width: 100%;
  position: relative;
  background: #383c5e;
  border-radius: 16px;
  padding: 22px 20px;

  &.on {
    display: block;
  }

  .event-cont {
    display: flex;
    gap: 12px;

    .logo {
      @include image-set();
      width: 36px;
      height: 36px;
      border-radius: 14px;
    }

    p {
      @include preBold();
      color: #fff;
      font-size: 16px;
      letter-spacing: -.48px;
  
      span {
        @include preMedium();
        margin-top: 4px;
        display: block;
        color: #c8c8c8;
        font-size: 14px;
        letter-spacing: -.42px;
      }
    }
  }

  .close {
    @include image-set();
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    background-image: url(../images/icon/close-type3.png);
  }

  > a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}