/* 관리자등록모달시작 */
.modalWrap.md_masterAdd {
  display: none;
  z-index: 999;
}

.modalWrap.md_masterAdd.modalOn {
  display: block;
}

.modalWrap.md_masterAdd .modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 999;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  z-index: 999;
}

.modalWrap.md_masterAdd .modalContainer .modalTitle {
  height: 50px;
  font-size: 18px;
  margin: 0 25px;
  padding: 15px 0px 0 0;
}

.modalWrap.md_masterAdd .modalContainer .modalTitle p {
  font-family: 'Pretendard_SemiBold';
  display: inline-block;
  padding: 6px 0 0 0;
  font-size: 18px;
}

.modalWrap.md_masterAdd .modalContainer .modalTitle button {
  position: relative;
  float: right;
  right: -2px;
  padding: 15px;
}

.modalWrap.md_masterAdd .modalContainer .modalTitle button.close {
  font-family: 'Pretendard_Regular';
  font-weight: normal;
  position: relative;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  background: url('../image/component/ico_close.svg') no-repeat center;
  width: 22px;
  height: 22px;
  font-size: 0;
}

.modalWrap.md_masterAdd .modalContainer .modalTitle button.close:disabled {
  color: #b3b3b3;
  border: 1px solid #eceff1;
  background-color: #eceff1;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: default;
}

.modalWrap.md_masterAdd .modalContainer .modalContent {
  position: relative;
  width: calc(100% - 20px);
  max-height: 650px;
  margin: 10px 10px 0 10px;
  padding: 10px 10px 20px 20px;
  overflow-y: auto;
}

.modalWrap.md_masterAdd .modalContainer .modalContent ::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: transparent;
}

.modalWrap.md_masterAdd
  .modalContainer
  .modalContent
  ::-webkit-scrollbar-thumb {
  height: 15px;
  border-radius: 5px;
  background: #dedede;
}

.modalWrap.md_masterAdd .modalContainer .modalFooter {
  padding-top: 10px;
  margin-top: 10px;
  text-align: center;
}

.modalWrap.md_masterAdd .modalContainer .modalFooter button {
  font-family: 'Pretendard_Regular';
  font-weight: normal;
  position: relative;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  min-width: 120px;
  height: 40px;
  margin-left: 8px;
  border-radius: 4px;
  font-size: 16px;
}

.modalWrap.md_masterAdd .modalContainer .modalFooter button:disabled {
  color: #b3b3b3;
  border: 1px solid #eceff1;
  background-color: #eceff1;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: default;
}

.modalWrap.md_masterAdd .modalContainer .modalFooter button:first-child {
  margin-left: 0;
}

.modalWrap.md_masterAdd .modalContainer .modalFooter button.create,
.modalWrap.md_masterAdd .modalContainer .modalFooter button.modify,
.modalWrap.md_masterAdd .modalContainer .modalFooter button.confirm,
.modalWrap.md_masterAdd .modalContainer .modalFooter button.save {
  color: #ffffff;
  border: 1px solid #4664e6;
  background-color: #4664e6;
}

.modalWrap.md_masterAdd .modalContainer .modalFooter button.create:disabled,
.modalWrap.md_masterAdd .modalContainer .modalFooter button.modify:disabled,
.modalWrap.md_masterAdd .modalContainer .modalFooter button.confirm:disabled,
.modalWrap.md_masterAdd .modalContainer .modalFooter button.save:disabled {
  color: #b3b3b3;
  border: 1px solid #eceff1;
  background-color: #eceff1;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modalWrap.md_masterAdd .modalContainer .modalFooter button.cancel {
  color: #ffffff;
  border: 1px solid #c8c8c8;
  background-color: #c8c8c8;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modalWrap.md_masterAdd .modalContainer .modalFooter button.delete {
  color: #ffffff;
  border: 1px solid #f65a5a;
  -webkit-box-shadow: 0 0 5px 0 #f65a5a;
  box-shadow: 0 0 5px 0 #f65a5a;
  background-color: #f65a5a;
}

.modalWrap.md_masterAdd .modalDim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000000;
  opacity: 0.5;
  z-index: 998;
}

.modalWrap.md_masterAdd .modalContainer {
  width: 460px;
  height: 650px;
}

.modalWrap.md_masterAdd .modalContainer .modalContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  gap: 10px;
  height: 500px;
}

.modalWrap.md_masterAdd .modalContainer .modalContent span {
  font-family: 'Pretendard_Regular';
}

.modalWrap.md_masterAdd .modalContainer .modalContent input {
  width: 100%;
}

.modalWrap.md_masterAdd .modalContainer .modalContent p {
  font-family: 'Pretendard_SemiBold';
  position: relative;
  text-align: center;
  color: #000000;
}

.modalWrap.md_masterAdd .modalContainer .modalContent .search-id-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.modalWrap.md_masterAdd .modalContainer .modalContent .search-id-box input {
  width: 80%;
}

.modalWrap.md_masterAdd .modalContainer .modalContent .search-id-box button {
  font-family: 'Pretendard_Regular';
  color: #ffffff;
  border: 1px solid #4664e6;
  background-color: #4664e6;
  width: 20%;
  height: 100%;
  border-radius: 4px;
}

/* 관리자등록모달끝 */
